Source: workspace-switcher
Section: utils
Priority: optional
Maintainer: Pavlos Orfanidis <pavlos@orfanidis.net.gr>
Build-Depends: debhelper-compat (=9), cmake(>= 3.16), libxrandr-dev
Standards-Version: 4.1.1
Homepage: https://github.com/porfanid/Workspace-Switcher

Package: workspace-switcher
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libxpm4, libxrandr2
Recommends: sway | mutter | kwin-wayland | hyprland
Description:  Workspace switching utility for X11 and Wayland
 workspace-switcher allows users to switch between multiple workspaces easily
 on both X11 and Wayland display servers.
 It provides a unified command-line interface for managing workspaces,
 supporting various window managers and compositors including Sway, Hyprland,
 GNOME Shell, and KDE Plasma.
